<div class="col-box col-box-author">
  <img class="avatar" src="{{ site.avatar }}" alt="{{ site.author }}">
  <div class="col-box-title name">{{ site.author }}</div>
  <p>{{ site.profile }}</p>
  <p class="contact">
    {% if site.github_username %}
    <a href="https://github.com/{{ site.github_username }}">GitHub</a>
    {% endif %}
    {% if site.twitter_username %}
    <a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a>
    {% endif %}
    {% for link in site.profile_links %}
    <a href="{{ link | last }}">{{ link | first }}</a>
    {% endfor %}
  </p>
</div>

<div class="col-box post-toc hide">
  <div class="col-box-title">TOC</div>
</div>

<div class="col-box">
  <div class="col-box-title">Newest Posts</div>
  <ul class="post-list">
    {% for post in site.posts limit:5 %}
      <li><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>

<div class="col-box">
  <div class="col-box-title">友情链接</div>
  <ul class="post-list">
    <li><a class="post-link" href="https://gregoryszorc.com/blog/"> gregoryszorc's blog </a></li>
    <li><a class="post-link" href="https://wzyboy.im/"> wzyboy’s blog </a></li>
    <li><a class="post-link" href="https://bou.ke/"> Bouke van der Bijl </a></li>
    <li><a class="post-link" href="https://chrisdone.com/posts/"> Chris Done </a></li>
    <li><a class="post-link" href="https://chriszheng.science/"> M-x Chris-An-Emacser </a></li>
    <li><a class="post-link" href="https://zilongshanren.com/"> 子龙山人 </a></li>
    <li><a class="post-link" href="https://www.fengbaiyang.cn/"> 白杨的博客 </li>
    <li><a class="post-link" href="https://roriri.one/"> 螺莉莉的数据中心 </li>
    <li><a class="post-link" href="https://tech.davis-hansson.com/"> Davis Hansson </li>
    <li><a class="post-link" href="https://draveness.me/"> 面向信仰编程 </li>
    <li><a class="post-link" href="https://sortingsearching.com/"> Sorting and Searching </li>
  </ul>
</div>

